{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} This Is The Index Page {% endblock %}</h1>
    <h1>Hello World!</h1>
    <h2>Welcome to the Flask template application!</h2>
    <h3>This is the date:  {{ utc_dt }}</h3>
{% endblock %}
